version: "3.8"

services:
  apache:
    build: 
      context: .
      dockerfile: ./docker/apache/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - app
    networks:
      - laravel_network
  app:
    build: 
      context: .
      dockerfile: ./docker/php/Dockerfile
    networks:
      - laravel_network
networks:
  laravel_network: