version: "3.8"

services:
  apache:
    build:
      context: ./docker/apache
    ports:
      - "8080:80"
    depends_on:
      - app
    networks:
      - laravel_network
  app:
    build: ./docker/php/
    volumes:
      - ./src:/var/www/html
    networks:
      - laravel_network
networks:
  laravel_network: